<!--Lab1&2-->

<!-- <app-header></app-header>
<app-products></app-products>
<app-footer></app-footer> -->

<!--Lab3-->

<app-products></app-products>

<h2>Q3,4,5</h2>



<button (click)="DisplayProducts()">Show Products Table</button>
{{flag}}
<div *ngIf="flag then ShowTable;"></div>

<ng-template #ShowTable>
    <table class="table table-dark">
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Name</th>
                <th scope="col">Quantity</th>
                <th scope="col">Price</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let Product of Products;">
    
                <td>{{Product.ID}}</td>
                <td>{{Product.Name}}</td>
                <td>{{Product.Quantity}}</td>
                <td>{{Product.Price}}</td>
            </tr>
    
        </tbody>
    </table>

</ng-template>


