<img [src]="Banner" width="100%">
<br>
<br>

<h2 align="Center">Most Selling Products</h2>
<hr>


<section style="background-color: #eee;">
    <div class="container py-5">
      <div class="row justify-content-center">
        <div class="col-md-8 col-lg-6 col-xl-4">
          <div class="card text-black">
            <i class="fab fa-apple fa-lg pt-3 pb-1 px-3"></i>
            <img
              [src]="Marvel"
              class="card-img-top"
              alt="Apple Computer"
            />
            <div class="card-body">
              <div class="text-center">
                <h5 class="card-title">Marvel Hoddie</h5>
                <p class="text-muted mb-4">Fabric: 100% Melton Turkish Cotton </p>
              </div>
              <div>
                <div class="d-flex justify-content-between">
                  <span>Long Sleeve</span>
                </div>
                <div class="d-flex justify-content-between">
                  <span>Fit:Oversized</span>
                </div>
                <div class="d-flex justify-content-between">
                  <span>Neck: Hooded</span>
                </div>
              </div>
              <div class="d-flex justify-content-between total font-weight-bold mt-4">
                <span>Price</span><span>400 L.E</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  
  <section style="background-color: #eee;">
    <div class="container py-5">
      <div class="row justify-content-center">
        <div class="col-md-8 col-lg-6 col-xl-4">
          <div class="card text-black">
            <i class="fab fa-apple fa-lg pt-3 pb-1 px-3"></i>
            <img
              [src]="Rick"
              class="card-img-top"
              alt="Apple Computer"
            />
            <div class="card-body">
              <div class="text-center">
                <h5 class="card-title">Ricky % Morty Hoodie</h5>
                <p class="text-muted mb-4">Fabric: 100% Melton Turkish Cotton </p>
              </div>
              <div>
                <div class="d-flex justify-content-between">
                  <span>Long Sleeve</span>
                </div>
                <div class="d-flex justify-content-between">
                  <span>Fit:Oversized</span>
                </div>
                <div class="d-flex justify-content-between">
                  <span>Neck: Hooded</span>
                </div>
              </div>
              <div class="d-flex justify-content-between total font-weight-bold mt-4">
                <span>Price</span><span>400 L.E</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section style="background-color: #eee;">
    <div class="container py-5">
      <div class="row justify-content-center">
        <div class="col-md-8 col-lg-6 col-xl-4">
          <div class="card text-black">
            <i class="fab fa-apple fa-lg pt-3 pb-1 px-3"></i>
            <img
              [src]="Pok"
              class="card-img-top"
              alt="Apple Computer"
            />
            <div class="card-body">
              <div class="text-center">
                <h5 class="card-title">Pokemon Hoodie</h5>
                <p class="text-muted mb-4">Fabric: 100% Melton Turkish Cotton </p>
              </div>
              <div>
                <div class="d-flex justify-content-between">
                  <span>Long Sleeve</span>
                </div>
                <div class="d-flex justify-content-between">
                  <span>Fit:Oversized</span>
                </div>
                <div class="d-flex justify-content-between">
                  <span>Neck: Hooded</span>
                </div>
              </div>
              <div class="d-flex justify-content-between total font-weight-bold mt-4">
                <span>Price</span><span>400 L.E</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>